/* ===================
Main Layout
====================*/

html, body {
	font-size: 17px;
	background: $blue-green;
	font-weight: 400;
    font-style: normal;
    font-family: georgia,"times new roman",times,serif;
    -webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;

	@media #{$break-mobile-large} {
		font-size: 16px;
		margin: 0 0.5rem;
	}
}

/* Content container */
.container {
	width: 40rem;
	margin: 0 auto;

	@media #{$break-mobile-large} {
		max-width: 100%;
	}
}

section {
	padding: 3em;
	display: block;
	opacity: 1;
	background: $white;
	box-shadow: $medium-float;
	border-radius: 0.5em;
	color: $text-black;
	display: block;
	opacity: 1;

	&.hidden {
		display: none;
		opacity: 0;
	}

	@media #{$break-mobile-large} {
		padding: 2rem 1.5rem;
	}
}

section+section {
	margin-top: 4em;
}

section h2 {
	margin-top: -100px;
	padding-top: 100px;
}

/* Responsive Columns */


.flex-wrapper {
	display: flex;
	align-items: center;
	width: 100%;

	&.slider-wrapper {
		align-items: flex-start;
		margin: 30px 0 20px;
		padding: 10px 0;
		border-top: 1px solid $border-gray;
		border-bottom: 1px solid $border-gray;

		.left-content {
			flex-grow: 8;
		}

		.right-content {
			width: 8em;
			padding: 20px 0 0 20px;
		}
	}

	&.frequency-wrapper {

		@media #{$break-mobile-large} {
			display: block;
		}

		.left-content {
			flex-grow: 0;

			@media #{$break-mobile-large} {
				width: 100%;
				display: block;
			}
		}

		.right-content {
			flex-grow: 2;
			padding-left: 20px;

			@media #{$break-mobile-large} {
				width: 100%;
				display: block;
				padding-left: 0;

			}

			select {
				width: 100%;
			}
		}

	}

}

/* ===================
Type
====================*/

h1 {
	font-size: 3rem;
	line-height: 2.5rem;

	@media #{$break-mobile-large} {
		font-size: 2.5rem;
	}

}

h2 {
	font-size: 1.4rem;
	line-height: 1.8rem;
	margin-bottom: 1.5rem;
	font-weight: 600;
}

h3 {
	font-family: $helvetica;
	color: $white;
	opacity: 0.6;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 0.5em;
	font-size: 1rem;
}

p {
	margin-bottom: 1em;
	line-height: 1.4;
}

p.subhead {
	margin: 1rem 0;
	font-size: 1.3rem;
}

p.help-text {
	color: $mid-gray;
	font-size: 0.85rem;
	font-style: normal;
	line-height: 1.25;

	a {
		color: $mid-gray;
	}
}

a {
	color: $blue-green;
	text-decoration: none;
	cursor: pointer;

	&:hover,
	&:active,
	&:focus {
		text-decoration: underline;
	}
}

em {
	font-style: italic;
}

span.strong {
	font-weight: bold;
	color: $green;
	font-size: 1.3rem;
    font-family: $helvetica;
}

strong {
	font-weight: bold;
}

ul { 
   list-style-type: disc; 
   list-style-position: inside; 
}

ol { 
   list-style-type: decimal; 
   list-style-position: inside; 
}

ul,
ol {
	margin-bottom: 1em;
	line-height: 1.4;
	padding-left: 1em;

	@media #{$break-mobile-large} {
		padding-left: 0.5em;
	}

}

ul ul,
ol ul { 
   list-style-type: circle; 
   list-style-position: inside; 
   margin-left: 15px; 
}

ol ol,
ul ol { 
   list-style-type: lower-latin; 
   list-style-position: inside; 
   margin-left: 15px; 
}

ul li,
ol li {
	list-style-position: inside;
	text-indent: -1.3em;
	padding-left: 1em;
}

.ul-padded {
	li {
		margin-bottom: 1em;
	}
}

/* ===================
Form elements
====================*/

form,
input {
	color: $text-black;
}

label {
	line-height: 1.4;
}

form label,
form label span,
label {
	font-family: $helvetica;
	font-weight: bold;
	color: $text-black;
	display: block;
}

.form-error,
.help-text {
	font-family: $helvetica;
}

form label span {
	margin-bottom: 10px;
}

form label {
	padding: 20px 0 0;

	@media #{$break-mobile-large} {
		padding: 0.5rem 0 0;
	}
}

input,
[type='text'],
[type='number'] {
	font-size: 1rem;
	font-family: $helvetica;
	color: $dark-gray;
	padding: 0.75em;
	margin-bottom: 1rem;
	border: 1px solid $light-gray;
	background: $whisper-gray;
	height: auto;

	&.focus {
		border: 1px solid $red;
	}
}

select {
	height: auto;
	padding: 0.75em;
	background-position: right 0em center;
	cursor: pointer;
	background-color: $whisper-gray;
}

.radio-button {
	display: block;

	[type='radio'],
	label {
		display:inline-block;
		vertical-align: middle;
		margin-bottom: 1em;
		cursor: pointer;

		@media #{$break-mobile-large} {
			vertical-align: top;
		}
	}

	@media #{$break-mobile-large} {
		[type='radio'] {
			margin-top: 0.3rem;
		}
	}

	label {
		/* I know, I know */
		cursor: default !important;

		@media #{$break-mobile-large} {
			width: 90%;
			margin-right: 0;
		}
	}
}

fieldset {

	legend {
		margin-bottom: 2em;
		line-height: 1.4;
	}
}

button,
.button {
	font-family: $helvetica;
	font-weight: bold;
	padding: 1em 25px;
	font-size: 0.9rem;
	background-color: $green;
	color: $white;
	border: 2px solid $green;
	margin-top: 30px;
	text-decoration: none;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

	&.outline {
		background-color: transparent;
		color: $green;
		border: 2px solid $green;

		&:hover,
		&:active,
		&:focus {
			background-color: transparent;
			color: $hover-green;
			border: 2px solid $hover-green;
		}
	}

	&:hover,
	&:active,
	&:focus {
		background-color: $hover-green;
		border: 2px solid $hover-green;
		cursor: pointer;
	}

	@media #{$break-mobile-large} {
		width: 100%;
		display: block;
	}
}

.button+.button {
	margin-left: 0.5em;

	@media #{$break-mobile-large} {
		margin-left: 0;
	}
}

.error {
	color: $red;
	font-size: 0.8rem;
}


/* ===================
Page elements
====================*/

.intro,
.footer {
	color: $white;
	padding: 4em 0 2em;
	text-align: center;

	p,
	p a { 
		color: rgba(255,255,255,0.6);
	}

	a {
		text-decoration: underline;

		&:hover,
		&:active,
		&:focus {
			color: rgba(255,255,255,0.8);
		}
	}
}


/* ===================
Specific sections
====================*/

/* 1 */

.disclaimer {
	background-color: rgba(31,126,161,0.075);
	font-family: $helvetica;
	padding: 15px;
	font-size: 0.85rem;
	border-radius: 3px;
	line-height: 1.25;
	color: $blue-green;
	margin: 30px 0;

	a {
		color: $blue-green;
		text-decoration: underline;
	}
}

/* 6 */

/* We want this hidden in case the person doesn't have insurance */
#insurance-results,
#tax-results {
	display: none;
	border-bottom: 1px solid $border-gray;
	padding-bottom: 2em;
	margin-bottom: 2em;
}

p.border-bottom {
	border-bottom: 1px solid $border-gray;
	padding-bottom: 2em;
	margin-bottom: 2em;
}

p.border-top {
	border-top: 1px solid $border-gray;
	padding-bottom: 2em;
	margin-bottom: 2em;
}

hr {
	border: 1px solid $border-gray;
	margin: 2em 0;
}

/* Final summary */

#section-11 {

	label,
	p,
	span {
		line-height: 1.4;
		margin-bottom: 10px;
	}

	#summary-tips-label {
		margin-top: 40px;
	}

	#but,
	#insurance-saved,
	#taxes-saved,
	#and,
	#summary-tips-label,
	#itemized-tax-results {
		display: none;
	}
}


/* FAQ */

.footer {

	@media #{$break-mobile-large} {
		text-align: left;
	}

	hr {
		opacity: 0.3;
		border-top: 1px solid $white;
		border-bottom: 0;
		margin: 1em 0 4em;
	}
}

.faq {
	@media #{$break-mobile-large} {
		padding-left: 10px;
		padding-right: 10px;
	}

	.faq-wrapper {
		display: flex;
		margin-top: 2em;

		@media #{$break-mobile-large} {
			display: block;
		}

		.faq-col {
			width: 50%;
			text-align: left;

			@media #{$break-mobile-large} {
				width: 100%;
				display: block;
			}

			div {
				margin: 0 20px 2em;

				@media #{$break-mobile-large} {
					margin: 0 0 2em;
				}
			}
		}

		.repo-link {
			font-family: $helvetica;
			font-weight: 700;

			span, i {
				display: inline-block;
				vertical-align: middle;

				&.arrow {
					margin-left: 6px;
				}
			}

			i {
				margin-right: 10px;
				font-size: 2rem;
			}
		}
		
	}
}