/* ===================
Main Layout
====================*/

html, body {
	font-size: 17px;
	background: $blue-green;
	font-weight: 400;
    font-style: normal;
    font-family: georgia,"times new roman",times,serif;
}

/* Content container */
.container {
	width: 40rem;
	margin: 0 auto;
}

section {
	padding: 3rem;
	height: 80vh;
	display: block;
	opacity: 1;
	background: $white;
	box-shadow: $medium-float;
	border-radius: 0.5rem;
	color: $text-black;

	&.hidden {
		display: none;
		opacity: 0;
	}
}

section+section {
	margin-top: 4rem;
}


/* ===================
Type
====================*/

h1 {
	font-size: 3rem;
	line-height: 3rem;
}

h2 {
	font-size: 1.4rem;
	line-height: 2rem;
	margin-bottom: 1rem;
	font-weight: 600;
}

p {
	margin-bottom: 1rem;
	line-height: 1.4;
}

p.subhead {
	margin: 1rem 0;
}

p.helper {
	color: $mid-gray;
	font-size: 0.9rem;
}

span.strong {
	font-weight: bold;
	color: $blue;
}


/* ===================
Form elements
====================*/

input {
	font-size: 1rem;
	color: $dark-gray;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border: 1px solid $mid-gray;
}

button {
	padding: 0.5rem 20px;
	font-size: 0.9rem;
	background: $green;
	color: $white;
	border: 2px solid $green;

	&:hover {
		background: $black;
		border: 2px solid $black;
		cursor: pointer;
	}
}


/* ===================
Page elements
====================*/

.intro {
	color: $white;
	padding: 4rem 0 2rem;
	text-align: center;

	p { 
		color: rgba(255,255,255,0.6);
	}
}