/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ===================
Breakpoints
====================*/
/* ===================
Colors
====================*/
/* ===================
Fonts
====================*/
/* ===================
Shadows
====================*/
/* ===================
Main Layout
====================*/
/* line 5, ../sass/_components.scss */
html, body {
  font-size: 17px;
  background: #1f7ea3;
  font-weight: 400;
  font-style: normal;
  font-family: georgia,"times new roman",times,serif;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 17, ../sass/_components.scss */
.top-bar {
  position: fixed;
  z-index: 5;
  padding: 0.25em;
  height: 1em;
  width: 80%;
  margin: 0 auto;
}

/* Content container */
/* line 27, ../sass/_components.scss */
.container {
  width: 40rem;
  margin: 0 auto;
}

/* line 32, ../sass/_components.scss */
section {
  padding: 3rem;
  display: block;
  opacity: 1;
  background: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  border-radius: 0.5em;
  color: #444;
  display: block;
  opacity: 1;
  border: 1px solid black;
}
/* line 44, ../sass/_components.scss */
section.hidden {
  border: 1px solid red;
}

/* line 49, ../sass/_components.scss */
section + section {
  margin-top: 4em;
}

/* Responsive Columns */
/* line 55, ../sass/_components.scss */
.col-wrapper {
  margin: 30px 0 20px;
  padding: 10px 0;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

/* line 62, ../sass/_components.scss */
.col {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}
/* line 67, ../sass/_components.scss */
.col.col-8 {
  width: 73%;
}
/* line 71, ../sass/_components.scss */
.col.col-4 {
  width: 24%;
}
/* line 75, ../sass/_components.scss */
.col.middle {
  vertical-align: middle;
}

/* line 80, ../sass/_components.scss */
.padded-top {
  padding-top: calc(10px + 1rem);
}

/* ===================
Type
====================*/
/* line 88, ../sass/_components.scss */
h1 {
  font-size: 3rem;
  line-height: 3rem;
}

/* line 93, ../sass/_components.scss */
h2 {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

/* line 100, ../sass/_components.scss */
p {
  margin-bottom: 1em;
  line-height: 1.4;
}

/* line 105, ../sass/_components.scss */
p.subhead {
  margin: 1rem 0;
}

/* line 109, ../sass/_components.scss */
p.help-text {
  color: #999999;
  font-size: 0.85rem;
  font-style: normal;
  line-height: 1.25;
}
/* line 115, ../sass/_components.scss */
p.help-text a {
  color: #999999;
}

/* line 120, ../sass/_components.scss */
a {
  color: #1f7ea3;
  text-decoration: none;
}
/* line 124, ../sass/_components.scss */
a:hover {
  text-decoration: underline;
}

/* line 129, ../sass/_components.scss */
em {
  font-style: italic;
}

/* line 133, ../sass/_components.scss */
span.strong {
  font-weight: bold;
  color: #0ea257;
  font-size: 1.3rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 140, ../sass/_components.scss */
strong {
  font-weight: bold;
}

/* line 144, ../sass/_components.scss */
ul {
  list-style-type: disc;
  list-style-position: inside;
}

/* line 149, ../sass/_components.scss */
ol {
  list-style-type: decimal;
  list-style-position: inside;
}

/* line 154, ../sass/_components.scss */
ul,
ol {
  margin-bottom: 1em;
  line-height: 1.4;
  padding-left: 1em;
}

/* line 161, ../sass/_components.scss */
ul ul,
ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}

/* line 168, ../sass/_components.scss */
ol ol,
ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}

/* line 175, ../sass/_components.scss */
ul li,
ol li {
  list-style-position: inside;
  text-indent: -1.3em;
  padding-left: 1em;
}

/* line 183, ../sass/_components.scss */
.ul-padded li {
  margin-bottom: 1em;
}

/* ===================
Form elements
====================*/
/* line 192, ../sass/_components.scss */
form,
input {
  color: #444;
}

/* line 197, ../sass/_components.scss */
label {
  line-height: 1.4;
}

/* line 201, ../sass/_components.scss */
form label,
form label span,
label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #444;
  display: block;
}

/* line 210, ../sass/_components.scss */
.form-error,
.help-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 215, ../sass/_components.scss */
form label span {
  margin-bottom: 10px;
}

/* line 219, ../sass/_components.scss */
form label {
  padding: 20px 0 0;
  /* This keeps our fields from jumping when we show and hide them
  height: 105px;*/
}

/* line 226, ../sass/_components.scss */
input,
[type='text'],
[type='number'] {
  font-size: 1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555555;
  padding: 0.75em;
  margin-bottom: 1rem;
  border: 1px solid #b3b3b2;
  background: #f7f8f8;
  height: auto;
}
/* line 238, ../sass/_components.scss */
input.focus,
[type='text'].focus,
[type='number'].focus {
  border: 1px solid #eb0162;
}

/* line 243, ../sass/_components.scss */
select {
  height: auto;
  padding: 0.75em;
  background-position: right 0em center;
  cursor: pointer;
  background-color: #f7f8f8;
}

/* line 251, ../sass/_components.scss */
.radio-button {
  display: block;
}
/* line 254, ../sass/_components.scss */
.radio-button [type='radio'],
.radio-button label {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 1em;
  cursor: pointer;
}
/* line 261, ../sass/_components.scss */
.radio-button label {
  /* I know, I know */
  cursor: default !important;
}

/* line 269, ../sass/_components.scss */
fieldset legend {
  margin-bottom: 2em;
}

/* line 274, ../sass/_components.scss */
button,
.button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding: 1em 25px;
  font-size: 0.9rem;
  background-color: #0ea257;
  color: #fff;
  border: 2px solid #0ea257;
  margin-top: 30px;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 291, ../sass/_components.scss */
button.outline,
.button.outline {
  background-color: transparent;
  color: #0ea257;
  border: 2px solid #0ea257;
}
/* line 296, ../sass/_components.scss */
button.outline:hover,
.button.outline:hover {
  background-color: transparent;
  color: #128857;
  border: 2px solid #128857;
}
/* line 303, ../sass/_components.scss */
button:hover,
.button:hover {
  background-color: #128857;
  border: 2px solid #128857;
  cursor: pointer;
}

/* line 310, ../sass/_components.scss */
.button + .button {
  margin-left: 0.5em;
}

/* line 314, ../sass/_components.scss */
.error {
  color: #eb0162;
  font-size: 0.8rem;
}

/* ===================
Page elements
====================*/
/* line 324, ../sass/_components.scss */
.intro,
.footer {
  color: #fff;
  padding: 4em 0 2em;
  text-align: center;
}
/* line 330, ../sass/_components.scss */
.intro p,
.intro p a,
.footer p,
.footer p a {
  color: rgba(255, 255, 255, 0.6);
}

/* ===================
Specific sections
====================*/
/* 1 */
/* line 343, ../sass/_components.scss */
.disclaimer {
  background-color: rgba(31, 126, 161, 0.075);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 15px;
  font-size: 0.85rem;
  border-radius: 3px;
  line-height: 1.25;
  color: #1f7ea3;
  margin: 30px 0;
}
/* line 353, ../sass/_components.scss */
.disclaimer a {
  color: #1f7ea3;
  text-decoration: underline;
}

/* 6 */
/* We want this hidden in case the person doesn't have insurance */
/* line 362, ../sass/_components.scss */
#insurance-results,
#tax-results {
  display: none;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

/* line 370, ../sass/_components.scss */
p.border-bottom {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

/* Final summary */
/* line 377, ../sass/_components.scss */
#but,
#insurance-saved,
#taxes-saved,
#and,
#summary-tips-label,
#itemized-tax-results {
  display: none;
}
