/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ===================
Breakpoints
====================*/
/* ===================
Colors
====================*/
/* ===================
Fonts
====================*/
/* ===================
Shadows
====================*/
/* ===================
Main Layout
====================*/
/* line 5, ../sass/_components.scss */
html, body {
  font-size: 17px;
  background: #1f7ea3;
  font-weight: 400;
  font-style: normal;
  font-family: georgia,"times new roman",times,serif;
}

/* Content container */
/* line 14, ../sass/_components.scss */
.container {
  width: 40rem;
  margin: 0 auto;
}

/* line 19, ../sass/_components.scss */
section {
  padding: 3rem;
  display: block;
  opacity: 1;
  background: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  color: #444;
  display: block;
  opacity: 1;
  border: 1px solid black;
}
/* line 31, ../sass/_components.scss */
section.hidden {
  border: 1px solid red;
}

/* line 36, ../sass/_components.scss */
section + section {
  margin-top: 4rem;
}

/* Responsive Columns */
/* line 41, ../sass/_components.scss */
.col {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}
/* line 46, ../sass/_components.scss */
.col.col-8 {
  width: 73%;
}
/* line 50, ../sass/_components.scss */
.col.col-4 {
  width: 24%;
}
/* line 54, ../sass/_components.scss */
.col.middle {
  vertical-align: middle;
}

/* line 59, ../sass/_components.scss */
.padded-top {
  padding-top: calc(30px + 1rem);
}

/* ===================
Type
====================*/
/* line 67, ../sass/_components.scss */
h1 {
  font-size: 3rem;
  line-height: 3rem;
}

/* line 72, ../sass/_components.scss */
h2 {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

/* line 79, ../sass/_components.scss */
p {
  margin-bottom: 1rem;
  line-height: 1.4;
}

/* line 84, ../sass/_components.scss */
p.subhead {
  margin: 1rem 0;
}

/* line 88, ../sass/_components.scss */
p.help-text {
  color: #999999;
  font-size: 0.85rem;
  font-style: normal;
  line-height: 1.25;
}
/* line 94, ../sass/_components.scss */
p.help-text a {
  color: #999999;
}

/* line 99, ../sass/_components.scss */
span.strong {
  font-weight: bold;
  color: #257dab;
}

/* line 104, ../sass/_components.scss */
strong {
  font-weight: bold;
}

/* line 108, ../sass/_components.scss */
ul {
  list-style-type: disc;
  list-style-position: inside;
}

/* line 112, ../sass/_components.scss */
ol {
  list-style-type: decimal;
  list-style-position: inside;
}

/* line 116, ../sass/_components.scss */
ul, ol {
  margin-bottom: 1rem;
  line-height: 1.4;
}

/* line 120, ../sass/_components.scss */
ul ul, ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}

/* line 125, ../sass/_components.scss */
ol ol, ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}

/* ===================
Form elements
====================*/
/* line 135, ../sass/_components.scss */
form,
input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

/* line 141, ../sass/_components.scss */
form label,
form label span,
label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #444;
  margin: 30px 0 10px;
  display: block;
}

/* line 151, ../sass/_components.scss */
input {
  font-size: 1rem;
  color: #555555;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #b3b3b2;
  background: #f7f8f8;
}
/* line 159, ../sass/_components.scss */
input.focus {
  border: 1px solid #eb0162;
}

/* line 164, ../sass/_components.scss */
button,
.button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding: 0.5rem 20px;
  font-size: 0.9rem;
  background: #0ea257;
  color: #fff;
  border: 2px solid #0ea257;
  margin-top: 30px;
  text-decoration: none;
}
/* line 176, ../sass/_components.scss */
button:hover,
.button:hover {
  background: #000;
  border: 2px solid #000;
  cursor: pointer;
}

/* line 183, ../sass/_components.scss */
.error {
  color: #eb0162;
  font-size: 0.8rem;
}

/* ===================
Page elements
====================*/
/* line 193, ../sass/_components.scss */
.intro,
.footer {
  color: #fff;
  padding: 4rem 0 2rem;
  text-align: center;
}
/* line 199, ../sass/_components.scss */
.intro p,
.intro p a,
.footer p,
.footer p a {
  color: rgba(255, 255, 255, 0.6);
}

/* ===================
Specific sections
====================*/
/* 1 */
/* line 212, ../sass/_components.scss */
.disclaimer {
  background-color: rgba(31, 126, 161, 0.075);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 15px;
  font-size: 0.85rem;
  border-radius: 3px;
  line-height: 1.25;
  color: #1f7ea3;
}
/* line 221, ../sass/_components.scss */
.disclaimer a {
  color: #1f7ea3;
}
